= render 'partials/page-title', title: _('Proposals')

.vote-header
  .container
    %a#vote-finish.btn.btn-block.btn-primary{href: new_admin_proposal_path, role: 'button'}= _('New proposal')

.container
  .proposals-cont
    - @proposals.each do |proposal|
      .proposal{ id: 'proposal-'+proposal.id.to_s, data: { budget: proposal.budget } }
        = render 'partials/admin/proposal-item', proposal: proposal