.container
  %a.btn.btn-outline-primary.btn-sm.back-btn{ href: admin_proposals_path, title: _('Back') }
    = render 'partials/icons/arrow-left'
    = _('Back')
  .proposal
    = render 'partials/admin/proposal-item', proposal: @proposal
