.container
  %a.btn.btn-outline-primary.btn-sm.back-btn{ href: request.referer, title: _('Back') }
    = render 'partials/icons/arrow-left'
    = _('Back')
  .proposal
    = render 'partials/monitoring/proposal-item', proposal: @proposal
