.alerts-container
  .container
    - unless success.nil?
      .alert.alert-success.text-center
        = success.html_safe
    - unless error.nil?
      .alert.alert-danger.text-center
        = error.html_safe
    - unless notice.nil?
      .alert.alert-info.text-center
        = notice.html_safe
    - unless alert.nil?
      .alert.alert-warning.text-center
        = alert.html_safe
