.data-protection
  .container
    .row.centrable
      .col-lg-12
        %p.credits
          = raw _("<u>INFORMACIÓN BÁSICA SOBRE PROTECCIÓN DE DATOS</u>: <strong>Actividad de Tratamiento</strong>: Procesos participativos. <strong>Responsable</strong>: Sra. Alcaldesa del Ayuntamiento de Torrelodones. <strong>Finalidad</strong>: Gestión de procesos de participación ciudadana. <strong>Legitimación</strong>: El tratamiento es necesario para el cumplimiento de una obligación legal. <strong>Destinatarios de cesiones</strong>: Sólo se cederán los datos en los casos previstos legalmente. No existe transferencia internacional de datos prevista. <strong>Derechos de los interesados</strong>: Derecho de acceso, rectificación y oposición, así  como otros derechos, como se explica en la información adicional. <strong>Información Adicional</strong>: Puede consultar la información adicional sobre el tratamiento en la sección “Protección de Datos” de la página Web del Ayuntamiento de Torrelodones: <a href='https://www.torrelodones.es/proteccion-de-datos/informacion-adicional-tratamientos'>https://www.torrelodones.es/proteccion-de-datos/informacion-adicional-tratamientos</a>. ")
