%footer.footer{ role: 'contentinfo' }
  .container
    %p.credits
      © 2016 | OpenBudgets is a project by Civio
    .pull-sm-right
      %ul.nav.nav-inline
        %li.nav-item
          %a.nav-link{ href: terms_of_service_path() }
            Terms of service
        %li.nav-item
          %a.nav-link{ href: privacy_policy_path() }
            Privacy policy