%footer.footer{ role: 'contentinfo' }
  .container
    %p.credits
      %a.logo-open-budgets{ href: 'http://openbudgets.eu/', target: '_blank', title: 'OpenBudgets.eu' }
        %img{ src: asset_path('img/openbudgets-logo-white.png'), alt:'OpenBudgets.eu'}
      %a{ href: 'https://github.com/openbudgets/participatory-budgeting', target: '_blank', title: 'Participatory Badgeting' }
        Participatory Badgeting Tool 
      is developed by
      %a.logo-civio{ href: 'http://civio.es/', target: '_blank', title: 'Civio' }
        %img{ src: asset_path('img/civio-logo-white.png'), alt:'Civio'}
    %ul.nav.nav-inline
      %li.nav-item
        %a.nav-link{ href: terms_of_service_path() }
          Terms of service
      %li.nav-item
        %a.nav-link{ href: privacy_policy_path() }
          Privacy policy
  .container
    %p.funding-credit
      OpenBudget.eu has received funding from the European Union’s 
      %a{ href: 'https://ec.europa.eu/programmes/horizon2020/', target: '_blank', title: 'H2020 EU research and innovation programme' }
        H2020 EU research and innovation programme 
      under grant agreement 
      %a{ href: 'http://cordis.europa.eu/project/rcn/194394_en.html', target: '_blank' }
        No 645833.