%footer.footer{ role: 'contentinfo' }
  .container.fill
    %p.credits
      = raw _("<a class='logo-open-budgets' href='http://openbudgets.eu/' target='_blank' title='OpenBudgets.eu'><img src='%{logo_openbudgets}' alt='OpenBudgets.eu'/></a><a href='https://github.com/openbudgets/participatory-budgeting' target='_blank' title='Participatory Badgeting'>Participatory Budgeting Tool</a> is developed by <a class='logo-civio' href='http://civio.es/' target='_blank' title='Civio'><img src='%{logo_civio}' alt='Civio'/></a>") % { logo_openbudgets: asset_path('img/openbudgets-logo-white.png'), logo_civio: asset_path('img/civio-logo-white.png') }
    %ul.nav.nav-inline
      %li.nav-item
        %a.nav-link.m-0.p-0{ href: 'http://www.torrelodones.es/aviso-legal' }
          = _('Terms of service')
      %li.nav-item
        %a.nav-linkm-0.p-0{ href: 'http://www.torrelodones.es/politica-de-privacidad' }
          = _('Privacy policy')
  .container
    %p.funding-credit
      = raw _("OpenBudgets.eu has received funding from the European Union's <a href='https://ec.europa.eu/programmes/horizon2020/' target='_blank', title='H2020 EU research and innovation programme'>H2020 EU research and innovation programme</a> under grant agreement <a href='http://cordis.europa.eu/project/rcn/194394_en.html' target='_blank'>No 645833</a>.")