%svg.icon.icon-facebook{ 'aria-hidden': 'true', width: '16', height: '16', viewBox: '0 0 512 512' }
  %path{ d:'M296.296,512H200.36V256h-64v-88.225l64-0.029l-0.104-51.976C200.256,43.794,219.773,0,304.556,0h70.588v88.242h-44.115 c-33.016,0-34.604,12.328-34.604,35.342l-0.131,44.162h79.346l-9.354,88.225L296.36,256L296.296,512z' }