= _('We have noticed that although you try to register to the participatory budgeting process, you did not provide a valid proof of identity.')
\
= _('It could be possible that your census data is not up to date. Please contact your municipality to double check that your data is accurate.')
\
= _('Thanks!')