// Home

.home {

  .jumbotron{
    position: relative;
    color: white;
    padding: 8rem 0 6rem;
    margin: 0;
    border-radius: 0;
    background: url(asset-path('img/home_img.jpg')) no-repeat center center white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .overlay{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include gradient-y( darken($brand-primary,25%), darken($brand-primary,50%), 0%, 90%);
      opacity: 0.4;
    }
    
    .container{
      position: relative;
    }

    h2{
      font-size: 2.5rem;
      margin-bottom: 1rem;
      text-shadow: 0 0 12px rgba(0,0,0,0.4);
    }

    p{
      font-size: 1.5rem;
      font-weight: 300;
      text-shadow: 0 0 10px rgba(0,0,0,0.5);
      margin-bottom: 0;
    }
  }
}

.process-state{
  border-color: $gray-lighter;
  background: white;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;

  .process-state-number,
  .process-state-title{
    display: inline;
    color: $gray-light;
  }

  .process-state-number{
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    margin: 0;
  }

  .process-state-title{
    font-size: 1.75rem;
    line-height: 1.75rem;
    padding: 1rem 0;
    margin-bottom: 0;
  }

  .process-state-description{
    @extend .text-muted;
    margin: 1rem 0 0;
  }

  .btn{
    margin-top: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
  }

  &.active{
    background: white;
    border-color: $brand-primary;

    .process-state-number{
      color: $brand-primary;
    }
    .process-state-title{
      color: $gray;
    }
    .process-state-title{
      font-weight: 600;
    }
    .process-state-description{
      color: $gray !important;
    }
  }

  @include media-breakpoint-up(md) {
    .process-state-number,
    .process-state-title{
      display: block;
    }
    .process-state-number{
      font-size: 3rem;
    }
    .process-state-description{
      margin-top: 0;
    }
  }
}
