- if current_voter
  %button{ class: 'vote-btn btn btn-lg btn-block'+((proposal.voted_by?(current_voter)) ? ' active' : ''), type: 'button', data: { id: proposal.id } }
    %p.voted
      = _('Voted')
    %p.unvoted
      = _('Vote')
- else
  %a.vote-btn.btn.btn-lg.btn-block{ href: new_voter_path, title: _('Sign in for vote') }
    %p.unvoted
      = _('Sign in for vote')