- if current_voter
  %button{ class: 'vote-btn btn btn-lg btn-block'+((proposal.voted_by?(current_voter)) ? ' active' : ''), type: 'button', data: { id: proposal.id } }
    %p.voted
      Voted
    %p.unvoted
      Vote
- else
  %a.vote-btn.btn.btn-lg.btn-block{ href: new_voter_path, title: 'Sign in for vote' }
    %p.unvoted
      Sign in for vote